*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #deebed; 
}
.menu{
    position: fixed;
    right: 50px;
    top: 600px;
    border: 5px solid #04484f;
}
.header1{
    background: #00838f;
    color: #fff;
}
.header2{
    display: flex;
    align-items: center;
}
.header2_content{
    background: #00838f;
    color: #fff;
  position: sticky;  
}
.headerBar{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: baseline;
    padding: 10px;
}
.Address{
    width: 350px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: #00838f;
    color: #fff;
    font-weight: bold;
    outline: none;
    padding-left: 10px;
}
.search{
    border-radius: 10px;
    width: -webkit-fill-available;
    border: none;
    outline: none;
    padding-left: 10px;
}
.box{
    background: white;
    height: 40px;
    color: #00838f;
    border-radius: 20px;
    margin: 10px;
    width: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}
.service{
    color: #00838f; 
    padding: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 5;
    box-shadow: 0 0 5px #00838f;
    margin-bottom: 10px;
}
.p-fs1{
font-size: 13px;
}
.p-fs2{
    font-size: 14px;
}

.needs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.heading-service{
    color: #00838f; 
    background-color: #a9d7dd;
}
.service-provide{
    background: #deebed; 
    height: 800px;
}
.footer-content{
    position: fixed;
    bottom: 0;
    background: #fff;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #00838f;
    border-top: 0.1px solid lightgrey;
}
.bg-1{
    background: aliceblue;
    height: 328px;
}
.text-1{
    font-size: 22px;
    color: black;
    font-weight: 700;
}
.discount{
    display: inline;
    float: right;
}
.popular-service{
    max-height: 200px;
    border: 1px solid white;
    display: flex;
    overflow-x: auto;
}
.popular-service::-webkit-scrollbar{
    width: 0;
}
.popular-service .item{
min-width: 110px;
height: 190px;
text-align: center;
background: rgb(162, 198, 229);
margin-right: 10px;
}
.subheading{
    font-weight: bold;
    text-decoration: underline;
    color: rgb(215, 21, 86);
}
@media (max-width: 360px) {
    .plantext{
        font-size: 9px;
    }
}